@model IEnumerable<PyroDB.Models.Chemical>

<h1>Chemicals</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GHS)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">@item.Name</a><br>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @foreach (var v in Chemical.GetAvailableGHS())
                    {
                        @if (item.GHS.HasFlag(v))
                        {
                            var img = "images\\" + v.ToString() + ".svg";
                            <img src="@img" alt="@v.ToString()" width="64px" />
                        }
                    }
                </td>
            </tr>
        }


    </tbody>
</table>

@if (User.IsInRole(Roles.Admin))
{
    <a asp-action="Create">Add new chemical</a>
}
